/* ==========================================================================
   Layout Styles (Structural containers, Grid, Responsive Layout)
   ========================================================================== */

/* region Page Wrap */
#body-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
/* endregion Page Wrap */

/* region Main Layout */
.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0 auto;
  padding: 2rem 15px;
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .layout {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    padding: 1rem 5px;
  }
}

@media screen and (min-width: 2000px) {
  .layout {
    max-width: 1500px;
  }
}

.layout > div:first-child {
  width: 75%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 900px) {
  .layout > div:first-child {
    width: 100% !important;
  }
}

.layout.hide-aside {
  max-width: 1000px;
}

@media screen and (min-width: 2000px) {
  .layout.hide-aside {
    max-width: 1300px;
  }
}

.layout.hide-aside > div {
  width: 100% !important;
}

/* Specific layout for content cards */
.layout > div:first-child:not(.recent-posts),
.layout > .recent-posts {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}

.layout > div:first-child:not(.recent-posts) {
  padding: 50px 40px;
  border-radius: 8px;
  background: var(--card-bg);
  -webkit-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
}

.layout > .recent-posts {
  width: 75%;
}

.layout > div:first-child:not(.recent-posts):hover {
  -webkit-box-shadow: var(--card-hover-box-shadow);
  box-shadow: var(--card-hover-box-shadow);
}

@media screen and (max-width: 768px) {
  .layout > div:first-child:not(.recent-posts) {
    padding: 1.8rem 0.7rem !important;
  }
}
/* endregion Main Layout */

/* region Sidebar Layout */
#aside-content {
  width: 25%;
}

@media screen and (min-width: 900px) {
  #aside-content {
    padding-left: 15px;
  }
}

@media screen and (max-width: 900px) {
  #aside-content {
    width: 100%;
  }
}

#sidebar #menu-mask {
  position: fixed;
  z-index: 102;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}
#sidebar #sidebar-menus {
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 103;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  height: 100%;
  background: var(--sidebar-bg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#sidebar #sidebar-menus.open {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
#sidebar #sidebar-menus > .author-avatar {
  padding: 1.3rem 1.5rem 0;
  text-align: center;
}
#sidebar #sidebar-menus > .author-avatar img {
  width: 110px;
  height: 110px;
  border-radius: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#sidebar #sidebar-menus > .author-avatar img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
#sidebar #sidebar-menus .site-data {
  display: table;
  padding: 0.6rem 0.5rem 0;
  width: 100%;
  table-layout: fixed;
}
#sidebar #sidebar-menus .site-data .data-item {
  display: table-cell;
}
#sidebar #sidebar-menus .site-data .data-item .data-item-link .length-num {
  color: var(--text-highlight-color);
  font-size: 1.28em;
}
#sidebar #sidebar-menus .site-data .data-item .data-item-link .headline {
  color: var(--font-color);
}
#sidebar #sidebar-menus hr {
  margin: 1rem auto;
}
#sidebar #sidebar-menus .menus_items {
  padding: 0 0.5rem 2rem;
}
#sidebar #sidebar-menus .menus_items .site-page {
  position: relative;
  display: block;
  padding: 0.3rem 1.5rem;
  color: var(--font-color);
  font-size: 1.15em;
  cursor: pointer;
}
#sidebar #sidebar-menus .menus_items .site-page i:first-child {
  width: 25%;
  text-align: left;
}
#sidebar #sidebar-menus .menus_items .site-page span {
  width: 75%;
}
#sidebar #sidebar-menus .menus_items .site-page span:hover {
  color: var(--theme-color);
}
#sidebar #sidebar-menus .menus_items .expand {
  position: absolute;
  top: 0.78em;
  right: 0.4rem;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}
#sidebar #sidebar-menus .menus_items .expand.hide {
  -webkit-transform: rotate(90deg) !important;
  -moz-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
#sidebar #sidebar-menus .menus_items .menus_item_child {
  margin: 0;
  list-style: none;
}
/* endregion Sidebar Layout */

/* region Header Layout */
#page-header {
  position: relative;
  width: 100%;
  background-color: var(--theme-color);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

#page-header.full_page {
  height: 100vh;
  background-attachment: fixed;
}

#page-header.not-home-page {
  height: 20rem;
}

@media screen and (max-width: 768px) {
  #page-header.not-home-page {
    height: 14rem;
  }
}

#page-header #page-site-info {
  position: absolute;
  top: 10rem;
  padding: 0 0.5rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #page-header #page-site-info {
    top: 7rem;
  }
}

#page-header.post-bg {
  height: 20rem;
}

@media screen and (max-width: 768px) {
  #page-header.post-bg {
    height: 18rem;
  }
}

#page-header.post-bg:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  content: '';
}
#page-header #post-info {
  position: absolute;
  bottom: 5rem;
  padding: 0 8%;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 900px) {
  #page-header #post-info {
    bottom: 1.5rem;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  #page-header #post-info {
    bottom: 1.1rem;
    padding: 0 1.1rem;
  }
}
#nav {
  position: absolute;
  top: 0;
  z-index: 90;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 36px;
  width: 100%;
  height: 60px;
  font-size: 1.3em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  #nav {
    padding: 0 16px;
  }
}
#page-header.not-top-img {
  margin-bottom: 0.5rem;
  height: 60px;
  background: 0;
}
#page-header.not-top-img #nav {
  background: rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
  box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
}
#page-header.not-top-img #nav a {
  color: var(--font-color);
  text-shadow: none;
}
#page-header.nav-fixed #nav {
  position: fixed;
  top: -60px;
  z-index: 91;
  background: rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
  box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
#page-header.nav-fixed #nav a,
#page-header.nav-fixed #nav #site-name,
#page-header.nav-fixed #nav #toggle-menu {
  color: var(--font-color);
  text-shadow: none;
}
#page-header.nav-fixed #nav a:hover,
#page-header.nav-fixed #nav #site-name:hover,
#page-header.nav-fixed #nav #toggle-menu:hover {
  color: var(--theme-color);
}
#page-header.nav-visible #nav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
#page-header.nav-visible + .layout > .aside-content > .sticky_layout {
  top: 70px;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  -ms-transition: top 0.5s;
  transition: top 0.5s;
}
::-webkit-full-page-media,
:future,
:root #page-header.full_page {
  background-attachment: scroll !important;
}
#nav.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#nav #blog_name {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#nav a {
  color: var(--light-grey);
}
#nav a:hover {
  color: var(--white);
}
#nav #site-name {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
  font-weight: bold;
  cursor: pointer;
}
#nav #toggle-menu {
  display: none;
  padding: 0.1rem 0 0 0.3rem;
  vertical-align: top;
}
#nav #toggle-menu:hover {
  color: var(--white);
}
#nav .menus_items {
  display: inline;
}
#nav .menus_items .menus_item {
  position: relative;
  display: inline-block;
  padding: 0 0 0 0.7rem;
}
#nav .menus_items .menus_item:hover .menus_item_child {
  display: block;
}
#nav .menus_items .menus_item:hover i.expand {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}
#nav .menus_items .menus_item i.expand {
  padding: 4px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}
#nav .menus_items .menus_item .menus_item_child {
  position: absolute;
  right: 0;
  display: none;
  margin-top: 8px;
  padding: 0;
  width: max-content;
  background-color: var(--sidebar-bg);
  -webkit-box-shadow: 0 5px 20px -4px rgba(0,0,0,0.5);
  box-shadow: 0 5px 20px -4px rgba(0,0,0,0.5);
  -webkit-animation: sub_menus 0.3s 0.1s ease both;
  -moz-animation: sub_menus 0.3s 0.1s ease both;
  -o-animation: sub_menus 0.3s 0.1s ease both;
  -ms-animation: sub_menus 0.3s 0.1s ease both;
  animation: sub_menus 0.3s 0.1s ease both;
}
#nav .menus_items .menus_item .menus_item_child:before {
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
}
#nav .menus_items .menus_item .menus_item_child li {
  list-style: none;
}
#nav .menus_items .menus_item .menus_item_child li:hover {
  background: var(--text-bg-hover);
}
#nav .menus_items .menus_item .menus_item_child li a {
  display: inline-block;
  padding: 0.3rem 0.7rem;
  width: 100%;
  color: var(--font-color) !important;
  text-shadow: none !important;
}
#nav.hide-menu #toggle-menu {
  display: inline-block !important;
}
#nav.hide-menu #toggle-menu .site-page {
  font-size: inherit;
}
#nav.hide-menu .menus_items {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#nav.hide-menu #search-button span {
  display: none !important;
}
#nav #search-button {
  display: inline;
  padding: 0 0 0 0.7rem;
}
#nav .site-page {
  position: relative;
  padding-bottom: 0.3rem;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0,0,0,0.3);
  font-size: 0.78em;
  cursor: pointer;
}
#nav .site-page:not(.child):after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 3px;
  background-color: #80c8f8;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#nav .site-page:not(.child):hover:after {
  width: 100%;
}
#page-header.full_page #site-info {
  position: absolute;
  top: 43%;
  padding: 0 0.5rem;
  width: 100%;
}
#page-header #site-title,
#page-header #site-subtitle,
#page-header #scroll-down .scroll-down-effects {
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
  line-height: 1.5;
}
#page-header #site-title {
  margin: 0;
  color: var(--white);
  font-size: 1.85em;
}
@media screen and (min-width: 768px) {
  #page-header #site-title {
    font-size: 2.85em;
  }
}
#page-header #site-subtitle {
  color: var(--light-grey);
  font-size: 1.15em;
}
@media screen and (min-width: 768px) {
  #page-header #site-subtitle {
    font-size: 1.72em;
  }
}
#page-header #site_social_icons {
  display: none;
  margin: 0 auto;
  width: 15rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #page-header #site_social_icons {
    display: block;
  }
}
#page-header #site_social_icons .social-icon {
  margin: 0 0.5rem;
  color: var(--light-grey);
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.15);
  font-size: 1.43em;
  cursor: pointer;
}
#page-header #scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}
#page-header #scroll-down .scroll-down-effects {
  position: relative;
  width: 100%;
  color: var(--light-grey);
  font-size: 30px;
}
/* endregion Header Layout */

/* region Footer Layout */
#footer {
  position: relative;
  background: var(--theme-color);
  background-attachment: local;
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#footer:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  content: '';
}

#footer-wrap {
  position: relative;
  padding: 2rem 1rem;
  color: var(--light-grey);
  text-align: center;
}

#footer-wrap a {
  color: var(--light-grey);
}

#footer-wrap a:hover {
  text-decoration: underline;
}

#footer-wrap .footer-separator {
  margin: 0 0.2rem;
}

#footer-wrap .icp-icon {
  padding: 0 4px;
  vertical-align: text-bottom;
  max-height: 1.4em;
  width: auto;
}
/* endregion Footer Layout */

@media screen and (min-width: 900px) {
  html.hide-aside .layout {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  html.hide-aside .layout > .aside-content {
    display: block;
    width: 100% !important;
    padding-left: 0 !important;
    margin-top: 1rem;
  }
  html.hide-aside .layout > .aside-content > .card-widget:first-child {
    margin-top: 1rem;
  }
  html.hide-aside .layout > .aside-content > .sticky_layout {
    position: relative !important;
    top: 0 !important;
  }
  html.hide-aside .layout > div:first-child {
    width: 100% !important;
  }
}

/* region rightside style */
#rightside {
    position: fixed;
    right: -38px;
    bottom: 40px;
    z-index: 100;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
#rightside #rightside-config-hide {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translate(35px, 0);
    -moz-transform: translate(35px, 0);
    -o-transform: translate(35px, 0);
    -ms-transform: translate(35px, 0);
    transform: translate(35px, 0);
}
#rightside #rightside-config-hide.show {
    -webkit-transform: translate(0, 0) !important;
    -moz-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}
#rightside > div > button,
#rightside > div > a {
    display: block;
    margin-bottom: 2px;
    width: 30px;
    height: 30px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}
#rightside > div > button:hover,
#rightside > div > a:hover {
    background-color: var(--btn-hover-color);
}
#rightside #mobile-toc-button {
    display: none;
}
@media screen and (max-width: 900px) {
    #rightside #mobile-toc-button {
        display: block;
    }
}
@media screen and (max-width: 900px) {
    #rightside #hide-aside-btn {
        display: none;
    }
}
/* endregion rightside style */
